In [ ]:
30/5/23

                           Python Basic - 1

In [ ]:
1.

In [ ]:
#Keywords
'''Keyword are the reserved words that cannot used as ordinary
  identifiers'''
    
'''Immutability-This means, their meaning or definition are not changed'''


'''keywords are case sensitive'''
    
'''False ,True ,and,break,class,if ,else,elif,in'''

In [ ]:
import keyword

In [ ]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
2.Rules to create variable are:

In [ ]:
#.The first character of the variable must be alphabet or underscore
#.Except the first character the remaining can be an alphabet of lower case,upper-case,underscore or digit
#.Whenever we are having big variable we can use camel variable or underscore

In [ ]:
3.The standards and conventions followed are;

#Identifier name must not contain any defined keyword ,whitespace or special character (*,@,!,#)
#Indentifier name are case sensitive
#Example:> myvariable and Myvariable are not same

#Unless a variable is used as a loop counter or index, avoid using single-character names like x, i, or j

In [ ]:
4.

In [ ]:
IF keyword is used as variable name it results in Syntax error.

In [ ]:
True="vishnu"

SyntaxError: ignored

In [ ]:
5.

In [ ]:
def keyword is used to define a particular Function.

In [ ]:
def area_rect(l,b):
  a=l*b
  print(a)

In [ ]:
area_rect(10,20)

200

In [ ]:
#Here area of rectangle (area_rect) is defined as functioin with arguments

In [ ]:
6.

In [ ]:
'''The backslash character () is used as an escape character.

The backslash ( ) character is used to escape characters that otherwise have a special meaning, 
such as newline, tab space'''

In [ ]:
print("Hello guys.\n Welcome to this AI world :\t Data Science")

Hello guys.
 Welcome to this AI world :	 Data Science

In [ ]:
7.

In [ ]:
#.Homogeneous List:

In [ ]:
In Homogeneous list elements will have same datatype

In [33]:
hl=[10,20,30,40,50,60]
print(hl)

[10, 20, 30, 40, 50, 60]

In [ ]:
#.Heterogeneous Set:

In [ ]:
In Heterogeneous Set elements can have different datatype>

In [35]:
hs={10,20,30,"vishnu","hello",2525.5}
print(hs)

{20, 'hello', 10, 'vishnu', 2525.5, 30}

In [ ]:
#.Homogenous Tuple:

In [ ]:
In Homogeneous tuple in which all elements will have same datatype.

In [36]:
ht=("vishnu","murali","smitha","veena")
print(ht)

('vishnu', 'murali', 'smitha', 'veena')

In [ ]:
8.

In [ ]:
Mutable Datatypes


Allows to modify values after they are created. 
1.Lists
2.Sets
3.Dictionaries

In [ ]:
#.Lists

In [15]:
l=[10,20,30,40,50,"vishnu"]
print(l)
print(type(l))

[10, 20, 30, 40, 50, 'vishnu']
<class 'list'>

In [16]:
l[1]

20

In [17]:
l[1]=25

In [18]:
l

[10, 25, 30, 40, 50, 'vishnu']

In [25]:
l.append(100)
print(l)

[10, 25, 30, 40, 50, 'vishnu', 100]

In [ ]:
#.Sets

In [20]:
s={10,10,20,20,30,30,"vishnu","vishnu"}
print(s)
print(type(s))

{10, 'vishnu', 20, 30}
<class 'set'>

In [24]:
s.add(40)
print(s)

{40, 10, 'vishnu', 20, 30}

In [ ]:
#.Dictionaries

In [26]:
d={"name":"vishnu","age":25,"place":"bangalore"}
print(d)
print(type(d))

{'name': 'vishnu', 'age': 25, 'place': 'bangalore'}
<class 'dict'>

In [27]:
d['name']='vishnu murali'
print(d)

{'name': 'vishnu murali', 'age': 25, 'place': 'bangalore'}

In [ ]:
Immutable Datatypes
1.Tuples

 Trying to modify a tuple will result in an error

In [29]:
t=(20,30,40,50,60,70,80,90)
print(t)
print(type(t))

(20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

In [31]:
t[1]

30

In [30]:
t[1]=25

TypeError: ignored

In [ ]:
9.

In [3]:
n=5
for i in range(n):
    for j in range(n-i):
        print(" ",end='')
    for j in range(2*i+1):
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********

In [ ]:
10.

In [4]:
n=5
for i in range(n):
    for j in range(i):
        print(" ",end='')
    for j in range(2*(n-i)-1):
        print("|",end="")
    print()

|||||||||
 |||||||
  |||||
   |||
    |