In [ ]:
24/5/23

In [ ]:
1.

In [ ]:
'''The two values of the Boolean data type are true and false'''

True
False

In [ ]:
2.

In [ ]:
Three different types of Boolean operators are;
   and
    not
    or

In [ ]:
3.

In [ ]:
Each Boolean operator  truth tables are:

In [ ]:
True = 1
False = 0

In [ ]:
And operator

False * False = False
False * True  = False
True  * False = False
True  * True  = True

0 * 0 = 0
0 * 1 = 0
1 * 0 = 0
1 * 1 = 1

In [ ]:
Or Operator

False + False = False
False + True  = True
True  + False = True
True  + True  = True


0 + 0 = 0
0 + 1 = 1
1 + 0 = 1
1 = 1 = 1

In [ ]:
Not operator


False = True
True  = False

In [ ]:
4.

In [1]:
(5>4) and (3==5)  # one of the statement is False the output we get is False

False

In [2]:
not(5>4)  # if it is True it executes false

False

In [3]:
(5 > 4) or (3 == 5)   # either one condition True

True

In [4]:
not ((5 > 4) or (3 == 5)) # both the statements are false

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(True == False)

False

In [7]:
(True and True)

True

In [8]:
(not False) or (not True)

True

In [ ]:
5.

In [ ]:
Comparision operatrors are:
    
1. Equal to operators (==)
2. Not Equal to operators (!=)
3. Greater than (>)
4. Less than (<)
5. Greater than or equal to (>=)
6. Less than or equal to (<=)

In [ ]:
6.

In [ ]:
Equal to operator is used to compare b/w two values and check if they are equal.

Assignment Operator is used to assign a value toa variable .

In [2]:
a= "vishnu"   #ASSIGNMENT OPERATOR

b= "murali"

if a==b:      #EQUAL TO OPERATOR
    print("a is equal to b")
else:
    print("a is not equal b : and name not found")

a is not equal b : and name not found

In [ ]:
7.

In [3]:
spam = 0
if spam == 10:
    print("eggs")
    if spam  > 5:
        print("bacon")
else :
    print('ham ')
    print('spam')
    print('spam')

ham
spam
spam

In [4]:
spam = 10
if spam == 10:
    print("eggs")
    if spam  > 5:
        print("bacon")
else :
    print('ham ')
    print('spam')
    print('spam')

eggs
bacon

In [ ]:
8.

In [ ]:
Write code that prints Hello if 1 is stored in spam, 
prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [15]:
spam=[1,2,"vishnu"]

for i in spam:

    if i==1:
        print("hello")
    elif i==2:
        print('howdy')
    else:
        print("Hi",i,"welcome to this world")

hello
howdy
Hi vishnu welcome to this world

In [ ]:
9.

In [ ]:
If the programme is stuck in endless loop:
    
    1.Restart kernel
    2.Interrupt the kernel

In [ ]:
10.

In [ ]:
Break Statement:
    A break statement ios used to terminate the loop whenever a particular condition is satisfied

In [19]:
a=[10,20,30,40,50,60,10,"vishnu"]

for i in a:
    if i==60:
        break
    print(i)

10
20
30
40
50

In [ ]:
Continue Statement:
    The continue statement skips the remaining lines of code, for the current iteration of the loop.

In [20]:
b=[10,20,30,40,50,60,61,475,"vishnu",'murali']

for i in b:
    if i==60:
        continue
    print(i)

10
20
30
40
50
61
475
vishnu
murali

In [ ]:
11.

In [ ]:
'''
In a for loop the range(10), range(0, 10), and range(0, 10, 1) are same we get 
the range values from 1-10  '''

In [21]:
for i in range(10): #it intially take value from zero even if we dont provide the value
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
12.

In [24]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
i=1

while i <11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
13.

In [ ]:
import spam

def bacon():
    pass